* main {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
}

.section1 img {
    width: 75%;
    margin: 0%;
    
}