* {
    padding: 0;
    margin: 0;
}

body {
    background-color: cornflowerblue;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    background-color: white;
}

.cards img {
    width: 200px;
    margin: 20px;
}
